.home-page-container{
  /* background-color: lightsteelblue; */
  height: 800px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 20px;
  margin-top: 100px;

}


.text-sectoin h1{
  font-size: 55px;
  margin-left: 25px;
}

.text-sectoin p{
  margin-left: 25px;
}

.book-ride-button, .learn-more-button{
  width: 300px;
  margin-left: 25px;
  height: 60px;
  border-radius: 50px;
  font-size: 18px;
  font-family: var(--normal-font-size);
  font-weight: bold;
}



.learn-more-button{
  background-color: var(--text-clr);
  color: var(--page-clr);
  border: none;

}


.book-ride-button{
  color: var(--text-clr);
  background-color: var(--page-clr);
  border-color: var(--text-clr);
  border: solid;
  border-width: 3px;
  border-color: var(--text-clr);
}

.main-image{
  margin-left: 30px;
  width: 80%;
}
